@import "../Styles/App.css";
.Student_offer_page_title {
  font-size: var(--super-header-font-size) !important;
  font-weight: 900;
  font-family: var(--Nunito);
  width: 45vw;
  line-height: 1.1;
  margin-top: 7.2rem;
}
.Student_offer_page_des {
  font-size: var(--subHeaderFontSize) !important;
  font-weight: 500;
  font-family: var(--Nunito);
  width: 30vw;
  line-height: 1.1;
  margin: 2rem 0 3rem 0;
}
.img_size {
  width: 100% !important;
  height: 15vw !important;
}
.student_offer_card_title {
  font-size: var(--header-font-size) !important;
  font-weight: 600 !important;
  font-family: var(--Nunito);
  margin-left: -0.4rem;
}
.student_offer_card_text {
  margin-top: 0.9rem;
  font-size: 1.3rem !important;
  font-weight: 600;
  font-family: var(--Nunito);
  line-height: 1.1 !important;
  color: var(--Bcolor) !important;
}
.card-btn {
  margin-top: 1.9rem;
  background-color: var(--button-color) !important;
  color: black !important;
  font-size: 1.2rem !important;
  font-weight: 800 !important;
  font-family: var(--Nunito);
  border: none !important;
}
