@import "../../Styles/App.css";
.footer-area {
  padding: 1.5rem 0;
  background-color: var(--primary-color);
  height: 60% !important;
  color: #fff;
  border-top: #fff solid 0.15rem;
  z-index: 10 !important;
}
h1 {
  font-size: 2.9rem;
  margin: 0;
}

p {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  font-size: var(--para-font-size);
  font-weight: 600;
  margin: 0;
}

.made-with-love {
  margin-top: 1.5rem !important;
  font-size: var(--para-font-size);
  font-weight: 600;
  font-family: var(--Nunito);
}
.footer-team {
  color: #ea4235;
  font-size: 1.5rem;

  /* text-decoration: underline solid #ea4235; */
}
.footer-team:hover {
  color: #ea4235;
}
